In [28]:
import pandas as pd

In [34]:
# df = pd.DataFrame(columns=['','title','word count','l1','l2','l3','l4','l5','l6','l7','l8'])
df = pd.DataFrame()

In [35]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [36]:
korean = pd.read_csv("../data/korean/lyricsKR0-100k_out.csv", index_col=0)

In [37]:
korean.head()

,title,word count,l1,l2,l3,l4,l5,l6,l7,l8
https://www.lyrics.co.kr/?p=1,NaN,355,0.109859,0.174648,0.202817,0.242254,0.295775,0.346479,0.357746,0.391549
https://www.lyrics.co.kr/?p=10,NaN,180,0.111111,0.177778,0.250000,0.305556,0.311111,0.383333,0.388889,0.388889
https://www.lyrics.co.kr/?p=100,NaN,113,0.221239,0.345133,0.362832,0.362832,0.371681,0.398230,0.451327,0.460177
https://www.lyrics.co.kr/?p=1000,NaN,6,0.166667,0.166667,0.166667,0.166667,0.166667,0.333333,0.333333,0.500000
https://www.lyrics.co.kr/?p=10000,NaN,158,0.088608,0.189873,0.253165,0.297468,0.303797,0.348101,0.360759,0.360759

In [38]:
df = df.append(korean)
df.head()

,title,word count,l1,l2,l3,l4,l5,l6,l7,l8
https://www.lyrics.co.kr/?p=1,NaN,355,0.109859,0.174648,0.202817,0.242254,0.295775,0.346479,0.357746,0.391549
https://www.lyrics.co.kr/?p=10,NaN,180,0.111111,0.177778,0.250000,0.305556,0.311111,0.383333,0.388889,0.388889
https://www.lyrics.co.kr/?p=100,NaN,113,0.221239,0.345133,0.362832,0.362832,0.371681,0.398230,0.451327,0.460177
https://www.lyrics.co.kr/?p=1000,NaN,6,0.166667,0.166667,0.166667,0.166667,0.166667,0.333333,0.333333,0.500000
https://www.lyrics.co.kr/?p=10000,NaN,158,0.088608,0.189873,0.253165,0.297468,0.303797,0.348101,0.360759,0.360759